/*
================================================
*/

body {
  background: rgb(10, 10, 10);
  color: rgb(255, 255, 255);
  font-family: 'Space Grotesk', sans-serif;
}

.main {
  width: 100%;
  margin: auto;
  margin-top: 5vh;
}

/* 
================================================
  SEARCH SECTION 
================================================
*/
.search {
  margin-top: 10px;
  margin-left: 3rem;
  display: flex;
  column-gap: 5px;
  align-items: center;
  justify-content: flex-start;
}

input {
  width: 180px;
  background: rgb(10, 10, 10);
  color: rgba(255, 255, 255);
  text-align: left;
  border: none;
}

button {
  background: rgba(255, 255, 255);
  color: rgb(10, 10, 10);
  border: none;
}
button:hover {
  background: rgba(10, 10, 10);
  color: rgba(255, 255, 255);
}

/* 
================================================
  MAIN SECTION 
================================================
*/
.mainText {
  width: 40%;
  margin-top: 300px;
  margin-left: -230px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.title {
  margin-top: -330px;
}

h2 {
  margin-right: 3rem;
  color: rgba(255, 255, 255);
  background: rgb(10, 10, 10);
  font-size: 3rem;
  text-align:right;
}

.info {
  width: 100%;
  color: rgba(255, 255, 255, 0.783);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 3rem;
  clear: both;
}

img {
  margin-top: -30px;
  width: 55%;
  border: 1px solid transparent;
}

iframe {
  width: 50%;
}

.text {
  width: 30%;
  text-align: justify;
  margin-top: 50px;
  margin-right: 50px;
}

h3 {
  font-size: 1rem;
}

/* 
================================================
  MEDIA SECTION 
================================================
*/
@media (max-width: 1350px) {
  .mainText {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .title {
    margin-top: 0px;
  }
}

@media (max-width: 1000px) {
  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    margin-top: 0px;
    width: 80%;
  }
  iframe {
    width: 80%;
  }

  .text {
    width: 80%;
    margin-top: 0px;
    margin-right: 0px;
  }
}

